.round {
    border-style: none;
    border-color: inherit;
    border-width: 2px;
    margin-top: 10px;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 1px 1px 3px #00BFFF;
}


.input {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 6px 10px 6px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input:focus {
    width: 100%;
}

.GridView1 {
    width: 90%;
    margin: 0 auto;
}
